
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newpost()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg social-cards">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h2 ion-text class="text" color="dynamicColor" wrap *ngIf="NoPostText">Its lonely here!\nTry creating some of your own using the + icon</h2>
  <!-- <ion-title visible='false' wrap>Its lonely here! Try creating some of your own using the + icon on top right or see what others are posting by following some of our other users</ion-title> -->
      <ion-grid>
        <ion-row wrap>

          <ion-col *ngFor="let item of items;">

            <ion-card>
              <ion-item>
                <ion-avatar item-start>
                  <img src={{item.avatarPhoto}}>
                </ion-avatar>
                <h2>{{item.username}}</h2>
                <p>{{item.postDate}}</p>
              </ion-item>
              <img [src]=item.image>
              <ion-card-content>
                <p>{{item.description}}</p>
                <ion-note>
                  {{item.TimeElapsed}}
                </ion-note>
              </ion-card-content>
              <ion-row>
                <!-- <ion-col> -->
                <button (click)="likePost(item)" ion-button color="primary" clear medium icon-start>
                  <ion-icon [color]="item.isLiked ? 'danger' : 'dark'" [name]="item.isLiked ? 'heart' : 'heart-outline'"></ion-icon>
                  {{item.likecount}}
                  <!-- </ion-col> -->
                </button>
              </ion-row>
            </ion-card>

            <!-- </div> -->
            <!-- </ion-list> -->
          </ion-col>

        </ion-row>
      </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>

<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>
